# aqui ficam os comandos a serem rodados no GitHub Actions para build e deploy do Docker e o versionamento da imagem

name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # a variável de ambiente APP_ENV é passada como argumento de build, para ser interpretada no Dockerfile como sinal para copiar o .htaccess correto

      - name: Build and Push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            APP_ENV=production
          tags: |
            cleivo/comercialrecanto:1.0.${{ github.run_number }}
            cleivo/comercialrecanto:prod

      - name: Pull image on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }} 
          script: |
            docker pull cleivo/comercialrecanto:prod


      - name: Redeploy stack on Portainer
        run: |
          curl -X POST "${{ secrets.PORTAINER_WEBHOOK }}"
